    <footer class="footer" id="footer">

        <div class="card-footer text-center">
            
            <div class="card-body">
                <h5 class="card-title">Created by Miraz Ahmed for WEB322 Assignment</h5>
                <span id="socialMediaLinks">
                    <a class="facebook" href="https://www.facebook.com" target=_blank><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                    <a class="twitter"  href= "https://twitter.com" target=_blank><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                    <a class="googleplus" href="https://plus.google.com" target=_blank><i class="fab fa-google-plus-g"></i></a>
                </span>
                {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
            {{!-- <div class="card-footer text-muted">
            2 days ago
            </div> --}}
        </div>
{{!-- 
            <div class="card-footer"id="footer">
                <span class="text-muted">Created by Miraz Ahmed for WEB322 Assignment</span>

                <span id="socialMediaLinks">
                    <a class="facebook" href="https://www.facebook.com" target=_blank><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                    <a class="twitter"  href= "https://twitter.com" target=_blank><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                    <a class="googleplus" href="https://plus.google.com" target=_blank><i class="fab fa-google-plus-g"></i></a>
                </span>

            </div>
 --}}
    </footer>


    
