
    <div class="d-flex flex-column min-vh-100">

    </div>        
      <footer class="mt-auto" id="sticky-footer">
      {{!-- class="d-flex flex-column py-4 text-white-50"> --}}
          <div class="container-fluid fixed-bottom text-center">
            <small class="text-muted">Created by Miraz Ahmed for WEB322 Assignment</small>         
            <span id="socialMediaLinks">
                <a class="facebook" href="https://www.facebook.com" target=_blank><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                <a class="twitter"  href= "https://twitter.com" target=_blank><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                <a class="googleplus" href="https://plus.google.com" target=_blank><i class="fab fa-google-plus-g"></i></a>
            </span>
                
        </div>
      </footer>
        
            
    
