<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/43ab366ac9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
    {{!-- <script src='main.js'></script> --}}
</head>
<body>

    <header id="headNav">
        <nav>
            <span id="logo">
                <i class="fab fa-amazon"></i> &nbsp;
                <span id="shoopersParadise">Shopper's Paradise</span>
            </span>
            
            
            <span id="pageLinks">
                <a href="/logIn" class="hpLink">Log In</a> &nbsp; &nbsp;
                <a href="/registration" class="hpLink">Register</a>
            </span>
            
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <footer id="footer" >
        <span>Created by Miraz Ahmed for WEB322 Assignment</span>

        <span id="socialMediaLinks">
            <a class="facebook" href="https://www.facebook.com" target=_blank><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
            <a class="twitter"  href= "https://twitter.com" target=_blank><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
            <a class="googleplus" href="https://plus.google.com" target=_blank><i class="fab fa-google-plus-g"></i></a>
        </span>       
        
        
        
    </footer>
</body>
</html>