

<h1 id="createAccount">Create Account</h1>
<a href="/">Back to Home Page</a>

<form action ="/logIn" method="POST">
    <fieldset id="fieldset">
        <label for ="name">Your Name</label><br>
        <input type="text" id="name" name="name"> <br> <br>

        <label for ="email">Email</label> <br>
        <input type="text" id="email" name="email"> <br> <br>

        <label for ="password">Password</label><br>
        <input type="text" id="password" name="password" placeholder="At least 6 characters"> <br> <br>

         <label for ="password">Password agian</label><br>
        <input type="text" id="password" name="password"> <br> <br>

        <a href="#">Need help?</a> <br><br>

        <input type="submit" id="submitBut" value="Create your SHOPPER'S PARADISE account">

        <p id="termsCondition">By creating  an account, you agree to SHOPPER'S PARADISE's conditions of use and Privacy Notice. </p> <br>

        <p id="accountHolder">Already have an account? <a href="/logIn">Sign In</a></p>

    </fieldset>
</form>


