
*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#fadee0 ;
}

.fa-amazon{
font-size: 2.5rem;
color: #EA1C2C;
}

#shoopersParadise{
font-family: 'Viaoda Libre', cursive;
 font-size: 3rem; 
 color: #EA1C2C; 
 font-weight: 100;
}
#mainNavbar .nav-link{
    font-size: 1.25rem;
    color: #ab3a43;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}



/* promotion banner CSS */
#promotionSection{
position: relative;
text-align: center;
color: #db2547;
}

.promotionMsg{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
}


/* Product Categories Section */
#prodCatSection{
    background-color: #e8b5b8;
    padding: 40px;
}

 #productCatHeading{
    font-size: 25px;
    color: white;
    text-decoration: none;
} 

#productTitle{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}

/* best Seller Section */

#bestSoldSection{
    
    background-color: #de8073;
    padding: 40px;
}

#bestSoldHeading{
    font-size: 25px;
    color: white;
    text-decoration: none;
}


#bestSoldItemName{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}



/* All Products page */
#title{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}

#price{
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}
#category {
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}

#bestSeller{
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}

/* Registration Page */

#createAccount{
    margin: 60px 0 20px 0;
    text-align: center;
}
#regFieldset{
    margin: 0 300px 0px 300px;
    padding: 10px 0 60px 0;
    font-size: 14px;
    text-align: center;
}
#submitBut{
    background: #e8b5b8;
    font-size: 12px;
}
#termsCondition{
    font-size: 10px;
}
#accountHolder{
    font-size: 12px;
}


/* log in page */
#signIn{
    margin: 130px 0 20px 0;
    text-align: center;
}
#logInFieldset{
    margin: 0 300px 0 300px;
    padding: 30px 0 110px 0;
    font-size: 14px;
    text-align: center;
}
#createBut{
    background: #e8b5b8;
    font-size: 12px;
}

#newShopper{
    font-size: 10px;
}

/* footer Section */
#footer{
    padding: 30px 0 30px 20px;
    background-color: #f2a0a0;
    color: #2e2626;
    font-size: 15px;
    flex-shrink: none;
}

#footer > span{
    text-align: center;
    padding: 0 180px 0 30px;
    color: white;
}

.facebook {
    color: #2e2626;
}

.twitter{
    color: #2e2626;
}

.googleplus{
    color: #2e2626;
}


@media(max-width: 895px){
    .fa-amazon{
        font-size: 1.5rem;
        }
        
        #shoopersParadise{        
         font-size: 1.8rem; 
         }

        .promotionMsg{
            font-size: 20px;
        }

        #prodCatSection{
           padding: 15px;
           font-size: 20px;
        }
        
        
        /*log in page*/
        #logInFieldset{
            margin-left: 150px;
            margin-right: 150px;
            font-size: 12px;
            padding: 50px 0 145px 0;         
        }
        #createBut{
            font-size: 10px;
        }
        #newShopper{
            font-size: 10x;
        }


        /*Registration page*/

        #createAccount{
            margin: 100px 0 25px 0;
        }
        #regFieldset{
            margin: 0 150px 0 150px;
            padding: 27px 0 70px 0;
            font-size: 11px;
        }
        #submitBut{
          font-size: 10px;
        }
        #termsCondition{
            font-size: 9px;
        }
        #accountHolder{
            font-size: 10px;
        }

}

@media(max-width: 897px) {
    #footer{
        padding: 15px 0 15px 10px;
        font-size: 10px;
    }
    
    #footer > span { 
        padding: 0 80px 0 20px;
    }
    
}






