/* html,body {
    height:100%;
    width: 100%;
} */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#fadee0 ;
}

.fa-amazon{
font-size: 2.5rem;
color: #EA1C2C;
}

#shoopersParadise{
font-family: 'Viaoda Libre', cursive;
 font-size: 3rem; 
 color: #EA1C2C; 
 font-weight: 100;
}
#mainNavbar .nav-link{
    font-size: 1.25rem;
    color: #ab3a43;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}



/* promotion banner CSS */
#promotionSection{
position: relative;
text-align: center;
color: #db2547;
}

.promotionMsg{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
}


/* Product Categories Section */
#prodCatSection{
    background-color: #e8b5b8;
    padding: 40px;
}

 #productCatHeading{
    font-size: 25px;
    color: white;
    text-decoration: none;
} 

#productTitle{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}

/* best Seller Section */

#bestSoldSection{
    
    background-color: #de8073;
    padding: 40px;
}

#bestSoldHeading{
    font-size: 25px;
    color: white;
    text-decoration: none;
}


#bestSoldItemName{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}

/* productDashboardPage */

#prodCatAndSearch{
    margin-top: 50px;
    padding: 50px 0 60px 0;
    font-size: 14px;
    text-align: center;
}

#searchForm{
    font-size: 15px;
}

#searchLabel{
    padding-left: 10px;
    color: white;
    font-size: 20px;
}

#taskSearch{
    font-size: 15px;
}
/* All Products page */
#title{
    color: #ab3a43;
    font-size: 16px;
    font-weight: 200;
}

#price{
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}
#category {
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}

#bestSeller{
    color: #ab3a43;
    font-size: 10px;
    font-weight: 200;
}

/* Registration Page */

#regForm{
    padding-bottom: 18px;
}

#createAccount{
    margin: 70px 0 30px 0;
    text-align: center;
 }

#termsCondition{
    font-size: 10px;
}
#accountHolder{
    font-size: 12px;
}


/* log in page */

#loginForm{
    /* padding: 100px 20px 110px 20px; */
    text-align: center;
}
#signIn{
    margin: 90px 0 10px 0;
    text-align: center;
}
#sticky-footer {
    
    background-color: #ebb7d5;
    
  }

#socialMediaLink{
    text-align: center;
    /* padding: 0 180px 0 30px; */
    /* color: white; */
}

.facebook {
    color: #2e2626;
}

.twitter{
    color: #2e2626;
}

.googleplus{
    color: #2e2626;
}

/* producatAdd page */
/* #addProduct{
    margin: 60px 0 20px 0;
    text-align: center;
} */
#addPageFieldset{
    margin: 0 300px 0px 300px;
    padding: 10px 0 60px 0;
    font-size: 14px;
    text-align: center;
}

#addProduct{
    margin-bottom: 20px;
}

#orderPlaceBtn{
    margin-bottom: 20px;
}


/*Edit Form Page*/

#prodUpdate{
    /* margin: 20px 0 20px 0; */
    text-align: center;
}

/* #editForm{
    margin: 0 300px 0px 300px;
    padding: 50px 0 60px 0;
    font-size: 14px;
    text-align: center;
} */

/* adminDashboard page */
/* #adminDashboard{

    margin: 0 300px 0px 300px;
    padding: 50px 0 60px 0;
    font-size: 14px;
    text-align: center;
} */

/* userDashboard page */
#prodDispBtn{
    margin: 20px 20px;   
}


#prodListBtn{
margin-top: 20px;
}

#profilePic{
    width: 40%
}


/* productDetailsClass */

#productDetailsClass{
    margin: 50px;
    font-size: 15px;
    color:#ab3a43;
}

/*user Email in shoppingCart file*/

#orderPlaceBtn{
margin-bottom: 20px;
}


#orderTotal{
    font-weight: bold;
    padding-bottom: 20px;
}
/* #userEmail{
    display: none;
} */
/* media query */

