

<section id="adminDashboard">
    <h1> Welome Administrator : {{user.firstName}} {{user.lastName}}</h1>

<!-- User Profile pic will go here-->
<img src="/uploads/{{user.profilePic}}" class="profilePic"> 

<div>
    <a href="/product/list">List of created products</a>
</div>

</section>

