
<div class="container" id="loginForm">
    <h1 id="signIn">Please Sign-In</h1>

    <form method="POST" action ="/user/logIn" >

    <div class=" form-row justify-content-center">
        <div class="form-group col-md-3">
            <label for ="email">Email</label> 
            <input type="text" class="form-control" id="email" name="email">
        </div>
    </div>

    <div class=" form-row justify-content-center">
        {{!-- <fieldset id="logInFieldset"> --}}
        <div class="form-group col-md-3">
            <label for ="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="At least 6 characters">
        </div>               
    </div>    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">LogIn</button> <br>
    </div> 

            {{#each errors}}
                    <div>{{this}}</div>
            {{/each}}       

            
    </form>

</div>




