

<h1 id="createAccount">Create Account</h1>


<form method="POST" action ="/user/registration" enctype="multipart/form-data">
    <fieldset id="regFieldset">

        <label for ="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName"> <br> <br>

        <label for ="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName"> <br> <br>

        <label for ="email">Email</label> <br>
        <input type="text" id="email" name="email"> <br> <br>

        <label for ="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="At least 6 characters"> <br> <br>

         <label for ="password">Confirm Password</label><br>
        <input type="password" id="repPassword" name="repPassword"> <br> <br>

        <label>File Upload</label>
        <input type="file" name="profilePic" id="profilePic"> <br><br>

        <a href="#">Need help?</a> <br>

        <input type="submit" id="submitBut" value="Create your SHOPPER'S PARADISE account">

        <p id="termsCondition">By creating  an account, you agree to SHOPPER'S PARADISE's conditions of use and Privacy Notice. </p> 

        <p id="accountHolder">Already have an account? <a href="/logIn">Sign In</a></p>

    </fieldset>
</form>


