

<section id="userDashboard">
    <h1> Welome  {{user.firstName}} {{user.lastName}} </h1>

<!-- User Profile pic will go here-->
    <img src="/uploads/{{user.profilePic}}" class="profilePic"> 

<div>
    <a href="/product/display">Click to See all the products </a>
</div>

<div>
    <a href="/product/shoppingCart"></a>
</div>
</section>
