
<section>
    <div id="promotionSection">
    
        <img class="img-fluid" src="/images/bigsale.jpg" alt="PromotionBanner">
        <div class="promotionMsg">Upto 50% SALE is On!!</div>

    </div>

</section>
           
    <div class="d-flex justify-content-center" id="bestSoldSection">
        <span href="#" id="bestSoldHeading">Best Sold Items</span>
    </div>
    
    <div class="container-fluid mx-0 px-0" id ="prodCategories">
        <div class="row justify-content-between mx-0">
            
                {{#each data}}
                 <div class="col-md-3">
                    <p class="text-center py-3 my-0" id="bestSoldItemName">
                    {{this.prodTitle}}
                    </p>
                    <img class="img-fluid pb-3" src="/uploads/{{this.productPic}}">
                 </div>
                {{/each}}                  
            
        </div>
    </div>

    


